click==6.7
colorama==0.2.7
cookiecutter==1.6.0]
matplotlib==2.1.0
networkx==2.0
numpy==1.13.3
numpydoc==0.7.0
pandas==0.20.3
pandocfilters==1.4.2
pkginfo==1.4.1
pytest==2.5.1
termcolor==1.1.0
unicodecsv==0.14.1
